version: '3'

services:

  apiviz-nuxt:
    build: 
      context: ${APP_PATH}
      dockerfile: Dockerfile.nuxt
    container_name: ${APP}-nuxt
    restart: always
    environment : 
      - HOST=0.0.0.0
    ports:
      - "3001:3001"
    command: 
      npm run dev
    volumes:
      - .:/app
      - /app/node_modules/
      

