@import './rem.scss';

$apiviz-navbar-height: rem(60px);
$apiviz-search-bar-height: rem(65px);

$apiviz-navbar-min-height-shrink: rem(25px);
$apiviz-navbar-height-shrink: rem(36px);

$apiviz-navbar-logo-height: rem(45px);
$apiviz-navbar-logo-height-shrink: rem(25px);


$apiviz-navbar-font-size: rem(16px);
$apiviz-navbar-font-size-shrink: rem(12px);

$apiviz-discrete-shadow: 0 3px 6px #D6D6D6;
$apiviz-strong-shadow: 0 6px 12px #AAA;