@import './rem.scss';

$apiviz-navbar-height: rem(60px);
$apiviz-search-bar-height: rem(65px);

$apiviz-navbar-font-size: rem(16px);

$apiviz-discrete-shadow: 0 3px 6px #D6D6D6;
$apiviz-strong-shadow: 0 6px 12px #AAA;