
// primary and secondary colors
$apiviz-primary         : #513085;
$apiviz-primary-invert  : white;
$apiviz-secondary       : #a174ac;

// for Bulma colors overriding
$apiviz-info            : #e89db1;
$apiviz-link            : #4b4d58;
$apiviz-success         : #a174ac;
$apiviz-warning         : #f3bd80;
$apiviz-danger          : #d24745;

// greys / blacks
$apiviz-grey-light      : #40529d;
$apiviz-grey-dark       : #1b1b1b; 
$apiviz-grey-background : #F6F6F6;

// apiviz colors sets
$apiviz-purple-deep     : #513085;  
$apiviz-purple          : #a174ac;  

$apiviz-yellow-light    : #f3bd80;  

$apiviz-pink-light      : #e89db1;
$apiviz-red             : #d24745;  

$apiviz-blue-deep       : #21295e;
$apiviz-blue-dark       : #40529d;
$apiviz-blue-light      : #a3b1d7;

// text colors
$apiviz-text-color      : #3D3A39;